<div class="filter-container">
    <form id="filterForm" hx-get="/engineer/{{ item_type.lower() }}s/list" hx-target="#{{ item_type }}-list" hx-trigger="change">
        {% for field, options in filter_options.items() %}
            <div class="filter-field">
                <label for="{{ field }}">{{ field.replace('_id', '')|capitalize }}:</label>
                {% if options|length == 2 and True in options and False in options %}
                    <input type="checkbox" id="{{ field }}" name="{{ field }}" value="true">
                {% else %}
                    <select id="{{ field }}" name="{{ field }}" onchange="this.form.dispatchEvent(new Event('change', {bubbles: true}))">
                       <option value="">All</option> <!-- Add an "All" option -->
                        {% for option in options %}
                            {% if option.id is defined and option.name is defined %}
                                <option value="{{ option.id }}">{{ option.name }}</option>
                            {% else %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        {% endfor %}
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var selects = document.querySelectorAll('select[multiple]');
    selects.forEach(function(select) {
        select.addEventListener('change', function() {
            var selectedOptions = Array.from(this.selectedOptions).map(option => option.text);
            if (selectedOptions.length === 0) {
                this.firstElementChild.selected = true;
            } else {
                this.firstElementChild.selected = false;
            }
        });
    });
});
</script>
