<!-- info_modal.html.j2 -->
{% if item %}
    <h2>Info for {{ item_type.capitalize() }}: {{ item.name }}</h2>
{% endif %}

{% extends "engineer/partials/data_entry_modal.html.j2" %}

{% block content %}
{% if item %}
    <div>
        {{ super() }}
    </div>

    {% if related_items %}
        <div class="related-info">
            <h3>Related Items</h3>
            {% for relation, rel_item in related_items.items() %}
                <div class="related-items">
                    {% if 'name' in rel_item.keys() %}
                        <h4>{{ relation|replace('_', ' ')|capitalize() }}</h4>
                        <div class="single-related-item">
                            {% for field_name, value in rel_item.items() %}
                                {% if field_name != 'id' and not field_name.endswith('_id') %}
                                    <div class="info-field">
                                        <strong>{{ field_name|replace('_', ' ')|capitalize() }}:</strong>
                                        {{ value }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        {# <a href="/engineer/{{ relation }}/filter?{{ item_type.lower() }}={{ item.id }}"  #}
                        <a href="/engineer/{{ relation }}" 
                           onclick="closeModal('info')">
                            <h4>{{ relation|replace('_', ' ')|capitalize() }}: {{ rel_item.amount }}</h4>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No related items found.</p>
    {% endif %}
{% endif %}
{% endblock %}

<div id="listContainer"></div>

{# <script>
function navigateToItem(itemType, itemId) {
    // Close the current modal
    closeModal('info');
    
    // Simulate a click on the target item
    const targetItem = document.getElementById(`${itemType}-${itemId}`);
    if (targetItem) {
        targetItem.click();
    } else {
        console.error(`Item ${itemType}-${itemId} not found`);
    }
}
</script> #}
