<ul class="touch-friendly-list" id="itemList">
    {% for item in items %}
        <li id="{{ item_type }}-{{ item.id }}" class="list-item{% if not item.active %} inactive{% endif %}"
                        hx-get="/engineer/{{ item_type.lower() }}s/{{ item.id }}/info"
                        hx-target="#infoContainer"
                        hx-trigger="click"
                        onclick="openModal('info')">
            <div class="item-content">
                <span class="item-detail">
                    {% for field in item %}
                        {% if field != 'id' and field != 'active' %}
                                {{ item[field] if item[field] is not none else '' }} - 
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            <div class="item-actions">
                <button class="action-button delete-button overlay-button"
                        hx-delete="/engineer/{{ item_type.lower() }}s/{{ item.id }}"
                        hx-confirm="Are you sure you want to delete this {{ item_type }}?"
                        hx-trigger="click"
                        hx-target="#{{ item_type }}-{{ item.id }}"
                        hx-swap="delete"
                        onclick="event.stopPropagation()">
                    🗑️
                </button>
            </div>
        </li>
    {% endfor %}
</ul>
{% if has_more %}
<div 
    hx-get="/engineer/{{ item_type.lower() }}s/list?offset={{ next_offset }}&limit={{ limit }}" 
    hx-include="#filterForm, #searchInput"
    hx-trigger="revealed" 
    hx-swap="afterend">
</div>
{% endif %}
