{% extends "dashboard/base.html.j2" %}

{% block title %}Tool Orders Summary{% endblock %}

{% block head %}
<script src="/static/js/dashboard/order_modal.js"></script>
{% endblock %}

{% block subinfo %}
    <div class="flex items-center space-x-8 text-sm font-mono">
        <div class="flex justify-between">
            <div class="flex items-center">
                <button onclick="openOrderModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Create new Order
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-700">
            <thead class="bg-gray-800">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tool Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tool Type</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Manufacturer</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Order Number</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Order Date</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estimated Delivery</th>
                </tr>
            </thead>
            <tbody class="divide-y bg-gray-800 divide-gray-700">
                {% for order in orders %}
                    {% include "dashboard/partials/order_card.html.j2" %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "dashboard/partials/order_modal.html.j2" %}
{% endblock %}


{% block scripts %}
{% endblock %}
