<div id="spendSummaryChart"></div>
<script type="module">
    import { fetch_apex_data } from '/static/js/dashboard/apex.js';

    var options = {
          series: [],
          chart: {
            type: 'donut',
          },
          dataLabels: {
            enabled: true
          },
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                show: true
              }
            }
          }],
          noData: {
            text: 'Loading...'
          }
        };

    let spendSummaryChart = new ApexCharts(document.querySelector("#spendSummaryChart"), options);
    spendSummaryChart.render();

    // Listen for filter changes and update the chart
    document.body.addEventListener('filterChanged', function() {
        fetch_apex_data(spendSummaryChart, '/dashboard/api/spend-summary');
    });
    </script>
