<div id="spendSummaryChart"></div>
<script type="module">
  import { fetch_apex_data } from '/static/js/dashboard/apex.js';

    var options = {
          series: [],
          chart: {
            height: 450,
            type: 'heatmap',
            background: 'transparent'
          },
          dataLabels: {
            enabled: true
          },
          stroke: {
            width: 0
          },
          noData: {
            text: 'Loading...'
          },
          theme: {
              mode: 'dark' // Can also switch to 'light'
          }
        };

    let spendSummaryChart = new ApexCharts(document.querySelector("#spendSummaryChart"), options);
    spendSummaryChart.render();

  // Listen for filter changes and update the chart
    document.body.addEventListener('filterChanged', function() {
      console.log('wepk')
        fetch_apex_data(spendSummaryChart, '/dashboard/api/spend-summary');
    });
</script>
