<!-- Delivery Modal -->
<div id="deliveryModal" class="fixed inset-0 bg-gray-900/95 hidden z-[9999] overflow-y-auto">
    <div class="min-h-screen p-4 flex items-center justify-center">
        <div class="relative max-w-l mx-auto bg-gray-800 rounded-lg shadow-xl">
            <div class="flex justify-between items-center p-4 border-b border-gray-700">
                <h2 class="text-2xl font-bold">Add Delivery</h2>
                <button onclick="closeDeliveryModal()" class="text-gray-400 hover:text-white">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="p-4">
                <div class="mb-4">
                    <label for="delivery-date" class="block text-gray-300 text-sm font-bold mb-2">Delivery Date:</label>
                    <input type="date" id="delivery-date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white" required>
                </div>
                <div class="mb-4"></div>
                    <label for="delivered_quantity" class="block text-gray-300 text-sm font-bold mb-2">Delivered Quantity:</label>
                    <input type="number" id="delivered_quantity" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white" required />
                </div>
                <div class="mb-4">
                    <label for="delivery-notes" class="block text-gray-300 text-sm font-bold mb-2">Delivery Notes:</label>
                    <textarea id="delivery-notes" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white"></textarea>
                </div>
            
                <div class="flex justify-end items-center p-4 border-t border-gray-700">
                    <button onclick="closeDeliveryModal()" class="bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2">
                        Cancel
                    </button>
                    <button onclick="createDelivery()" class="bg-green-900 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
