<div class="graph-container" id="{{ graph_id }}" data-type="{{ graph_type|default('line') }}">
    <!-- ECharts will render the chart inside this div -->
</div>

<style>
    .graph-container {
        height: 200px;
    }
</style>
