<!-- Order Details Modal -->
<div id="orderDetailsModal" class="fixed inset-0 bg-gray-900/95 hidden z-[9999] overflow-y-auto" data-tool-id="">
    <div class="min-h-screen p-4" id="modalBackdrop">
        <div class="flex items-center justify-center">
            <div class="relative w-full max-w-7xl mx-auto bg-gray-800 rounded-lg shadow-xl max-h-[90vh] flex flex-col" id="modalContent">
                <!-- Modal header -->
                <div class="flex justify-between items-center p-4 border-b border-gray-700">
                    <h2 class="text-2xl font-bold" id="modalTitle">Order Details</h2>
                    <h3 id="order-date"></h3>
                    <span id="fulfilled"></span>
                    <button onclick="closeOrderModal()" class="text-gray-400 hover:text-white">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                
                <!-- Modal content -->
                <div class="p-4 overflow-y-auto flex-grow">
                    <p id="orderId" class="hidden"></p>
                    <input type="date" id="order-date" class="hidden">
                    <div id="modalGrid" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="row-span-2 hover:shadow-lg">
                            <label for="tool-card" class="block text-gray-300 text-sm font-bold mb-2">Tool Info:</label>
                            <a href='#' id="tool-card-display" class="block p-4 bg-gray-700 rounded-lg shadow-md text-white">
                                <div class="hidden" id="current-tool-type-id"></div>
                                <div class="hidden" id="current-tool-id"></div>
                            </a>
                            <a href='#' id="tool-card" onclick="openToolSelectModal()" class="hidden block p-4 bg-gray-700 rounded-lg shadow-md text-white hover:bg-gray-600"></a>
                        </div>
                        <div class="mb-4">
                            <label for="order-number" class="block text-gray-300 text-sm font-bold mb-2">Order Number:</label>
                            <span id="order-number-display" class="block shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white"></span>
                            <input type="text" id="order-number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white hidden" required>
                        </div>
                        <div class="mb-4">
                            <label for="quantity" class="block text-gray-300 text-sm font-bold mb-2">Quantity:</label>
                            <span id="quantity-display" class="block shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white"></span>
                            <input type="number" id="quantity" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white hidden" required>
                        </div>
                        <div class="mb-4">
                            <label for="gross-price" class="block text-gray-300 text-sm font-bold mb-2">Total:</label>
                            <span id="gross-price-display" class="block shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white"></span>
                            <input type="number" id="gross-price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white hidden">
                        </div>
                        <div class="mb-4">
                            <label for="tool-price" class="block text-gray-300 text-sm font-bold mb-2">Tool Price:</label>
                            <span id="tool-price-display" class="block shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white"></span>
                            <input type="number" id="tool-price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white hidden">
                        </div>
                        <div class="mb-4">
                            <label for="estimated-delivery-date" class="block text-gray-300 text-sm font-bold mb-2">Estimated Delivery:</label>
                            <span id="estimated-delivery-date-display" class="block shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white"></span>
                            <input type="date" id="estimated-delivery-date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white hidden">
                        </div>
                        <div class="row-span-4 mb-4">
                            <label for="deliveries" class="block text-gray-300 text-sm font-bold mb-2">Deliveries:</label>
                            <table id="deliveries-list" class="min-w-full divide-y divide-gray-700">
                                <thead class="bg-gray-800">
                                    <tr>
                                        <th class="text-left">Date</th>
                                        <th class="text-left">Quantity</th>
                                        <th class="text-left">Notes</th>
                                        <th class="text-right hidden">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <button id="add-delivery-button" onclick="openDeliveryModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hidden">
                                Add Delivery
                            </button>
                        </div>
                        <div class="mb-4">
                            <label for="description" class="block text-gray-300 text-sm font-bold mb-2">Notes:</label>
                            <span id="description-display" class="block shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white"></span>
                            <input type="text" id="description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white hidden">
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex justify-between items-center p-4 border-t border-gray-700">
                    <button onclick="saveOrder()" class="bg-green-900 hover:bg-green-800 text-white font-bold py-2 px-4 rounded hidden" id="saveButton">
                        Save
                    </button>
                    <button onclick="deleteOrder()" class="bg-red-900 hover:bg-red-700 text-white font-bold py-2 px-4 rounded hidden" id="deleteOrderButton">
                        Delete
                    </button>
                    <button onclick="enableEdit()" class="bg-teal-900 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded" id="editButton">
                        Edit
                    </button>
                    <button onclick="closeOrderModal()" class="bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "dashboard/partials/delivery_modal.html.j2" %}

<!-- Tool Select Modal -->
<div id="toolSelectModal" class="fixed inset-0 bg-gray-900/95 hidden z-[9999] overflow-y-auto">
    <div class="min-h-screen p-4 flex items-center justify-center">
        <div class="relative max-w-l mx-auto bg-gray-800 rounded-lg shadow-xl">
            <div class="flex justify-between items-center p-4 border-b border-gray-700">
                <h2 class="text-2xl font-bold">Select Tool</h2>
                <button onclick="closeToolSelectModal()" class="text-gray-400 hover:text-white">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="p-4">
                <div class="mb-4">
                    <label for="tool-type-select" class="block text-gray-300 text-sm font-bold mb-2">Tool Type:</label>
                    <select id="tool-type-select" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white">
                        <option>Loading...</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="tool-select" class="block text-gray-300 text-sm font-bold mb-2">Tool:</label>
                    <select id="tool-select" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 text-white">
                        <option>Loading...</option>
                    </select>
                </div>
            </div>
            <div class="flex justify-end items-center p-4 border-t border-gray-700">
                <button onclick="closeToolSelectModal()" class="bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2">
                    Cancel
                </button>
                <button onclick="selectTool()" class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Select
                </button>
            </div>
        </div>
    </div>
</div>
