<tr onclick="openOrderModal('{{ order.id }}')" class="{% if order.fulfilled %}bg-green-950 hover:bg-green-800{% else %}bg-yellow-950 hover:bg-yellow-800{% endif %} hover:cursor-pointer">
    <td class="px-6 py-4 whitespace-nowrap {% if order.fulfilled %}text-green-400 dark:text-green-200{% else %}text-yellow-400 dark:text-yellow-200{% endif %}">
        <div class="font-bold">{{ order.tool.name }}</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap {% if order.fulfilled %}text-emerald-400 {% else %}text-amber-400{% endif %}">{{ order.tool.tool_type.name }}</td>
    <td class="px-6 py-4 whitespace-nowrap {% if order.fulfilled %}text-emerald-400 {% else %}text-amber-400{% endif %}">{{ order.tool.manufacturer.name }}</td>
    <td class="px-6 py-4 whitespace-nowrap {% if order.fulfilled %}text-emerald-400 {% else %}text-amber-400{% endif %}">{{ order.order_number }}</td>
    <td class="px-6 py-4 whitespace-nowrap {% if order.fulfilled %}text-emerald-400 {% else %}text-amber-400{% endif %}">{{ order.order_date }}</td>
    <td class="px-6 py-4 whitespace-nowrap {% if order.fulfilled %}text-emerald-400 {% else %}text-amber-400{% endif %}">{{ order.quantity }}</td>
    <td class="px-6 py-4 whitespace-nowrap {% if order.fulfilled %}text-emerald-400 {% else %}text-amber-400{% endif %}">${{ order.gross_price }}</td>
    <td class="px-6 py-4 whitespace-nowrap {% if order.fulfilled %}text-emerald-400 {% else %}text-amber-400{% endif %}">{{ order.estimated_delivery_date }}</td>
</tr>
