{% extends "base.html.j2" %}

{% block title %}Log Device{% endblock %}

{% block body %}
    <div class="mx-auto px-4 py-8">
        <div class="max-w-2xl mx-auto shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <form id="logDeviceForm" action="{{ form_action }}" method="POST" class="space-y-6">
                <div>
                    <label for="name" class="block font-bold mb-2">Name</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="name" name="name" value="{{ item.name }}" required>
                </div>
                <div>
                    <label for="description" class="block font-bold mb-2">Description</label>
                    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="description" name="description" rows="3">{{ item.description }}</textarea>
                </div>
                <div class="flex items-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" id="active" name="active" {% if item.active %}checked{% endif %}>
                    <label class="ml-2 font-bold" for="active">Active</label>
                </div>
                <div>
                    <label for="machine_ids" class="block font-bold mb-2">Machines</label>
                    <select multiple class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="machine_ids" name="machine_ids">
                        {% for option in relationship_options.machines %}
                            <option value="{{ option.id }}" {% if option.id in related_items.machines|map(attribute='id') %}selected{% endif %}>
                                {{ option.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    {{ submit_text }}
                </button>
            </form>
            <a href="/" class="inline-block m-6">
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Go home
                </button>
            </a>
        </div>
    </div>
    <script>
        document.getElementById('logDeviceForm').addEventListener('submit', function(e) {
            e.preventDefault();
            
            const formData = new FormData(this);
            
            fetch(this.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'Accept': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    showToast(`Error: ${data.error}`, 'error')
                } else {
                    showToast(`${data.message}`)
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showToast('An Error occured, please try again')
            });
        });
    </script>
{% endblock %}
